.App {
    width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 100px 3fr;
    grid-template-areas:
            "header header"
            "nav main_content";

}

.header {
    grid-area: header;
    background-color: rgb(168,141,138);
    border: 1px solid rgb(0,0,0);
}
.header img{
    width: 50px;

}

.nav {
    grid-area: nav;
    background-color: rgb(191,170,168);
    border: 1px solid rgb(0,0,0);

}

.main_content {
    grid-area: main_content;
    background-color: rgb(300,228,228);
    border: 1px solid rgb(0,0,0);
}
.header_image img{
    height: 200px;
    width: 100%;
}
.user_image img{
    width: 150px;
}















